@model api_post.DTO.PostDTO

@{
    ViewData["Title"] = "Actualizar Post";
}

<br>
<a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index" style="border: 1px black solid; width: auto; display: inline; border-radius: 5px;">Volver</a>
<br><br>

<h2>Actualizar un Post</h2>

<form asp-controller="Post" asp-action="UpdatePost" method="post">
    <input asp-for="id" class="form-control" type="hidden" />
    <div class="form-group">
        <label asp-for="userId">UserID:</label>
        <input asp-for="userId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="title">Título:</label>
        <input asp-for="title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="body">Contenido:</label>
        <textarea asp-for="body" class="form-control"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Actualizar Post</button>
</form>
